
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Roboto", sans-serif;
    background: #BBD2C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 15px;
}

h1 {
    margin: 0;
    color: floralwhite;
    text-shadow: 5px 5px 10px black;
    font-size: 2rem;
    letter-spacing: 0.02em;
}
 
h4 {
    font-size: 1.75rem;
    text-shadow: 2px 2px 50px white;
    color: #0A0A0A;
    letter-spacing: 0.05em;
}

.h4-activated {
    color: gold;
    text-shadow: 5px 5px 2px firebrick;
}

button {
    border-radius: 50%;
    border: 3px solid darkblue;
    width: 10em;
    height: 10em;
    background-color: slateblue;
}


button:hover {
    box-shadow: 0 0 10px greenyellow;
}

#motivational-gif {
    display: none;
    width: 30%;
    min-width: 350px;
    margin-bottom: 2em;
}

@media(min-width: 475px) {
    h1 {
        font-size: 3.5rem;
        letter-spacing: 0.05em;
    }

    h4 {
        font-size: 2rem;
    }
}